.header{
    height: 800px;
    background-color: black;
}

.navigationbar{
    height: 50px;
    background-color: #2b3035;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }

.highlight{
    text-shadow: 0px 0px 20px white, 0px 0px 10px blue;
    font-size: 40px;
}

.navigation-link{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 25px;
    font-family: serif;
}

.logo{

    position: absolute;
    top: 10px;
    left: 10px;
    border: white solid;
    border-radius: 10%;
}

.logo img{
    height: 30px;
}

.dropdown-menu{
    background-color: #2b3035;
}

.dropdown-menu a{
    color: white;
}

.item-slide{
    height: 700px;
    
    background-image: url("./images/title.png");

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.item-slide .sliding-item{
    height: 700px;
    width: 600px;
    position: absolute;
    left: -600px;
}

.hide{
    visibility: hidden;
}

.content{
    height: 800px;

}

.shop-item{

    margin-top: 50px;
    height: 500px;

    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: repeat(4,1fr);
}

.shop-item-img{
    grid-row: 1/5;
    grid-column: 1/2;
}

.shop-item-img > img{
    width: 400px;
}

.shop-item-heading{
    margin-top: 5%;
    margin-left: 5%;
}

.shop-item-description{
margin: 5%;
}

.shop-item-colorbox{
    display: flex;

}

.shop-item-colorbox{

    margin-left: 5%;
}

.shop-item-colorbox > div{
    height: 50px;
    width: 50px;

    border: solid;
    border-radius: 30%;
    margin-right: 10px;
}

.color1{
    background-color: rgb(57, 57, 155);
}

.color2{
    background-color: rgb(185, 49, 49);
}

.color3{
    background-color: rgb(185, 130, 29);
}

.shop-item-buttons{
    margin-left: 5%;
}

.shop-item-buttons button{
    width: 200px;
    border-radius: 10%;
    height: 80%;
}

.button-add{
    background-color: yellow;
}

